/* Fuente: Fjalla One */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');




/* BODY */


body {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0;
}

.logo {
    max-width: 9rem;
    padding-top: 1.7rem;
}



.ul-nav {
    display: flex;
    list-style-type: none;
    padding-top: 3rem;
}

.li-nav {
    padding-left: 3rem;
    padding-bottom: 0;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: 500;
}

.li-hover {
    transition: all 0.3s;
}

.li-hover:hover {
    color: #707070;
}


a {
    text-decoration: none;
    color: #fff;
}

/* Menú hamburguesa */

.menu-hamburguesa {
    display: none;
    background-color: #000000;
    border: none;
    font-size: 2rem;
    color: #fff;
}

.offcanvas-header,
.offcanvas-body {
    background-color: #000000;
}


.ul-hamburguesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    height: 80%;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.offcanvas-header .btn-close {
    color: #fff;
}

.offcanvas-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.logo-hamburguesa {
    max-width: 12rem;
}


/* MAIN */

.contenedor-main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

h1 {
    padding-top: 10rem;
    padding-bottom: 5rem;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.ul-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-right: 5rem;
}

.boton-menu {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.20rem;
    line-height: 1.563;
    transition: all 0.3s;
}

.boton-menu:hover {
    color: #707070;
}

.boton-menu.active {
    color: #707070;
}

.btn-colormode {
    border: 0;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    /* background-color: rgba(34, 34, 34, 0.9); */
    background-color: #707070;
}

.div-main {
    display: flex;

}

/* Light mode */


body {
    transition: background-color 0.3s, color 0.3s;
}

body.light-mode {
    background-color: #fff;
    color: #000;

}

body.light-mode a {
    color: #333; 
}

body.light-mode .ul-menu .boton-menu {
    color: #333; 
}


/* PRODUCTOS */

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-top: 10rem;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-bottom: 10rem;
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles {
    padding: .5rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .25rem;
}

.producto-titulo {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

.producto-precio {
    font-size: 1.1rem;
}

.producto-agregar {
    border: 0;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 1.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    border: 0.01rem solid white;
    transition: transform 0.3s ease;
}

.producto-agregar:hover {
    transform: scale(1.1);
    background-color: white;
    color: black;
}


/* CARRITO */

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 60%;
    padding-bottom: 7rem;
}

.carrito-vacio,
.carrito-comprado {
    color: #fff;
    font-size: 2rem;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-producto {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    gap: 1rem;
    background-color: #3434349c;
    color: #fff;
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small,
.carrito-producto-cantidad,
.carrito-producto-precio,
.carrito-producto-subtotal {
    font-size: 1.2rem;
}

.carrito-producto-titulo {
    font-size: 0.7rem;
    padding-bottom: 0.5rem;
}

.carrito-producto-titgrande {
    font-size: 1.3rem;
}



.carrito-producto-sumar,
.carrito-producto-restar,
.carrito-producto-eliminar {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 1.4rem;
    cursor: pointer;
}

.carrito-acciones {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.carrito-acciones-vaciar,
.carrito-acciones-comprar {
    border: 0;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.carrito-acciones-vaciar:hover,
.carrito-acciones-comprar:hover {
    background-color: #fff;
    color: #000;
    transform: scale(1.1);
}


.carrito-acciones-derecha {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.carrito-acciones-total {
    display: flex;
    text-transform: uppercase;
    gap: 1rem;
    padding-top: 1rem;
}


.disabled {
    display: none;
}


/* FOOTER */

footer {
    margin-top: auto;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* MEDIA QUERIES Inicio y Productos */

@media (min-width: 577px) and (max-width: 1200px) {
    .contenedor-productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .contenedor-productos {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

@media (max-width: 767px) {
    .contenedor-productos {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width:767px) {
    header {
        display: flex;
        justify-content: space-around;
    }

    nav {
        display: none;
    }

    .menu-hamburguesa {
        display: flex;
        padding-top: 1.8rem;
    }

    .logo {
        padding-top: 1rem;
    }

    .ul-menu {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .contenedor-productos {
        padding-top: 6rem;
    }
}

@media (max-width: 576px) {
    .contenedor-productos {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

/* MEDIA QUERIES Carrito */

@media (max-width: 950px) {
    .carrito-producto-imagen {
        display: none;
    }

    .carrito-producto {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 800px) {
    .carrito-producto-precio {
        display: none;
    }
}

@media (min-width:592px) and (max-width: 680px) {

    .carrito-producto-sumar,
    .carrito-producto-restar,
    .carrito-producto-eliminar {
        font-size: 1.1rem;
    }

    .carrito-producto small,
    .carrito-producto-cantidad,
    .carrito-producto-precio,
    .carrito-producto-subtotal,
    .carrito-producto-titgrande {
        font-size: 1rem;
    }
}

@media (max-width: 591px){
    .carrito-producto-sumar,
    .carrito-producto-restar,
    .carrito-producto-eliminar {
        font-size: 0.9rem;
    }
    .carrito-producto small,
    .carrito-producto-cantidad,
    .carrito-producto-precio,
    .carrito-producto-subtotal,
    .carrito-producto-titgrande {
        font-size: 0.9rem;
    }
}